{% load static %}

<div class="bg-gray-800 font-[sans-serif] text-white p-6 mt-7">
  <div class="grid md:grid-cols-2 items-center gap-10 max-w-5xl max-md:max-w-md mx-auto">
    <div class="md:h-[400px]">
      <img src="{% static "images/hero.jpg" %}" class="w-full h-full object-contain" />
    </div>
    <div class="max-md:text-center">
      <h3 class="md:text-3xl text-2xl md:leading-10">Unlock Text from Images with Ease</h3>
      <p class="mt-6 text-sm">Say goodbye to manual transcription and hello to streamlined efficiency as you unlock the potential of your image library</p>
      <button type="button" class="px-6 py-2 mt-8 font-semibold rounded text-sm outline-none border-2 border-white">Explore</button>
    </div>
  </div>
</div>