<div class="text-center mt-10">
  <h3 class="md:text-2xl font-medium text-2xl md:leading-10">
    Upload the image here
  </h3>
</div>

<div class="flex justify-center m-auto mt-10 gap-10">
  <input
    type="file"
    class="w-auto text-gray-500 font-medium text-sm bg-gray-100 file:cursor-pointer cursor-pointer file:border-0 file:py-2 file:px-4 file:mr-4 file:bg-gray-800 file:hover:bg-gray-700 file:text-white rounded"
    id="img-file"
    accept="image/jpeg, image/png, image/gif"
  />

  <button
    id="extract-btn"
    type="button"
    class="text-white bg-blue-500 hover:bg-blue-600 font-semibold rounded-md text-sm px-4 py-3 w-auto"
    todo-id="{{todo.id}}"
  >
    Extract
  </button>
</div>

<div class="text-center mt-10 loader-div hidden">
  <div role="status">
    <svg
      aria-hidden="true"
      class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div
  class="flex justify-center m-auto extracted-text-main-div hidden gap-10 mt-10"
>
  <img id="uploaded-image" class="max-w-md" src="" />
  <div>
    <label
      for="message"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Extracted text</label
    >
    <textarea
      id="message"
      rows="10"
      colums="10"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Write your thoughts here..."
    ></textarea>

    <div></div>

    <!-- Include SweetAlert JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.js"></script>

    <script>
      function getCsrfToken() {
        const cookieValue = document.cookie
          .split("; ")
          .find((row) => row.startsWith("csrftoken="))
          .split("=")[1];
        return cookieValue;
      }
      document.getElementById("extract-btn").addEventListener("click", () => {
        let uploaded_image = document.getElementById("img-file").files[0];
        if(uploaded_image == undefined){
            Swal.fire({
                title: "",
                text: "Please select image!",
                icon: "warning",
                confirmButtonText: "OK",
              });
            return;
        }
        let image_ext = uploaded_image.name.split(".")[1];
        let arrOfImageExtensions = ["jpg", "png", "svg", "gif"];
        if (arrOfImageExtensions.includes(image_ext)) {
          let mainDiv = document.getElementsByClassName(
            "extracted-text-main-div"
          )[0];
          let loaderDiv = document.getElementsByClassName("loader-div")[0];
          loaderDiv.classList.remove("hidden");
          let extractButton = document.getElementById("extract-btn");
          extractButton.innerText = "Extracting...";
          extractButton.disabled = true;

          mainDiv.classList.add("hidden");
          let csrf_token = getCsrfToken();
          let formdata = new FormData();
          formdata.append("uploaded_image", uploaded_image);

          fetch("{% url 'extract' %}", {
            method: "POST",
            headers: {
              "X-CSRFToken": csrf_token,
            },
            body: formdata,
          })
            .then((res) => {
              if (!res.ok) {
                throw new Error("Exception occured!");
              }
              return res.json();
            })
            .then((data) => {
              console.log(data);
              loaderDiv.classList.add("hidden");
              mainDiv.classList.remove("hidden");
              let message = document.getElementById("message");
              message.value = data.data.extracted_text;
              let imgTag = document.getElementById("uploaded-image");
              imgTag.src = data.data.image_url;
              extractButton.innerText = "Extract";
              extractButton.disabled = false;
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          Swal.fire({
            title: "",
            text: "Wrong Image extension!",
            icon: "warning",
            confirmButtonText: "OK",
          });
        }
      });
    </script>
  </div>
</div>
